

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 553px;
  height: 1363px;
 
}
.opening {
  background-color: #CE2829;
}
.opening img {
  width: 550px;
height: 540px;

}
.opening h1 {
  font-family: vector;
  color: white;
  padding:70px;
  margin-top: auto;
}
.opening h2 {
font-family: Roboto Condensed;
font-size: 80px;

font-weight: 300;
line-height: 85px;
letter-spacing: 1.5px;
text-align: center;
color: white;


 }
.opening button {
width: 193.27px;
height: 56px;
gap: 0px;
border-radius: 50px 50px 50px 50px;
opacity: 0px;
background-color: #fdc913;
text-align: center;
}
.container1 {
  width: 411px;
  height: 248px;
  padding: 32px;
  gap: 41px;
  opacity: 0px;
  display:flex;
  
  
}
.meal-items {
  width: 541px;
  height: 268px;
 
  
}
.meal-items img {
  width: 42px;
  height: 42px;
  

}



.container2 {
width: 422px;
height:908px;
gap: 16px;
opacity: 0px;

}
.shortcut-items {
width: 541px;
height: 3,491px;
top: 1088px;
left: -1px;
gap: 40px;
opacity: 0px;

}
.shortcut1 {
background-color: #CE2829;
width: 422px;
height: 270px;
padding: 50px;
border-radius: 12px 12px 12px 12px;
margin: 30px;


}

.shortcut1 button {
  width: 138px;
  height: 48px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  color: #CE2829;
}
.shortcut1 h1 {
width: 388px;
height: 120px;
font-family: Quattrocento;
font-size: 68px;
font-weight: 700;
line-height: 72px;
text-align: left;
color: #ffffff;


}
.shortcut1 h2 {
width: 275px;
height: 30px;
font-family: Barlow;
font-size: 20px;
font-weight: 600px;
line-height: 0px;
text-align: left;
color: #ffffff;

}
  .shortcut2 {
    width: 422px;
    height: 270px;
    padding: 50px;
    border-radius: 12px 12px 12px 12px;
    margin: 30px;
    background-color: #242424;

  }
  .shortcut2 button {
  width: 138px;
  height: 48px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  color: #CE2829;
  align-items: center;
  margin-top: 100px;
  }

.shortcut2 h1 {
width: 182px;
height: 86px;
left: 32px;
font-family: Barlow;
font-size: 40px;
line-height: 48px;
text-align: left;
color:#ffffff;

  }
.shortcut3 {
width: 422px;
height: 270px;
padding: 50px;
border-radius: 12px 12px 12px 12px;
margin: 30px;
background-color: #FFEECC;
;

}
.shortcut3 h1 {
  width: 300px;
  height: 88px;
  font-size: 40px;
  font-weight: 800px;
  text-align: left;
  line-height: 40px;
  
}
.shortcut3 h2 {
  width: 263px;
  height: 20px;
  font-size: 35px;
  text-align: left;
}
.shortcut3 button {
 
  width: 138px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  margin-top: 100px;

  color: #CE2829;
  

}
.shortcut4 {
width: 395px;
height: 229px;
padding: 50px;
margin: 50px;
border-radius: 12px;

}
.shortcut4 h1 {
  width: 395px;
height: 46px;
color: #CE2829;
font-family: Satisfy;
font-size: 32px;
font-weight: 600;
line-height: 44.27px;
text-align: center;
margin-top: 10px;
align-items: center;

}
.shortcut4 h2 {
  width: 395px;
height: 56px;
color: #292929;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
font-weight: 600;
line-height: 56.2px;
text-align: center;
margin-top: 10px;
align-items: center;

}

.meal1 {
  display: flex;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
